<div class="card" [ngClass]="{'inactive-job': !job.isActive}" *ngIf="job">
  <div class="buttons-container">
    <button
      type="button"
      class="bookmark-btn"
      (click)="onSave()"
      [ngClass]="{ bookmarked: job.isSaved }"
    >
      <i class="bi bi-bookmark" *ngIf="!job.isSaved"></i>
      <i class="bi bi-bookmark-fill" *ngIf="job.isSaved"></i>
    </button>

    <button
      *ngIf="userRole == userRoles.admin"
      type="button"
      class="trash-btn"
      (click)="onDelete()"
    >
      <i class="bi bi-trash"></i>
    </button>
  </div>
  <div class="card-body" (click)="onSelectJob()">
    <div class="job">
      <div class="job-post-company">
        <span *ngIf="job.company.logo">
          <img
            [src]="job.company.logo"
            alt="company-logo"
            class="company-logo"
          />
        </span>
        <span class="company-name">
          {{ job.company.name }}
        </span>
        <span class="company-info">
          <i class="bi bi-star-fill text-warning"></i>
          {{ job.company.rating.toFixed(1) }} ({{ job.company.numberOfRatings }})
        </span>
      </div>
      <div class="job-post-info">
        <div class="job-title">
          <h4>{{ job.title }}</h4>
        </div>
        <ul>
          <li>
            <i class="bi bi-geo-alt-fill"></i>
            <span *ngIf="job.locations.length == 0">Worldwide</span>
            <div class="job-locations" *ngIf="job.locations.length > 0">
              <div class="job-location" *ngFor="let location of job.locations">
                <span *ngIf="location.city">{{ location.city }}</span>
                <span
                  class="seperator"
                  *ngIf="location.city && location.stateCode"
                  >,
                </span>
                <span *ngIf="location.stateCode">{{
                  countryStateCityService.getStateNameByIsoCodeAndCountry(
                    location.stateCode,
                    location.countryIso2Code
                  )
                }}</span>
                <span
                  class="seperator"
                  *ngIf="location.stateCode && location.countryIso2Code"
                  >,
                </span>
                <span *ngIf="location.countryIso2Code">{{
                  countryStateCityService.getCountryNameByIsoCode(
                    location.countryIso2Code
                  )
                }}</span>
                <span
                  class="seperator"
                  *ngIf="location.countryIso2Code && location.region"
                  >,
                </span>
                <span *ngIf="location.region">{{ location.region }}; </span>
              </div>
            </div>
          </li>
          <li *ngIf="job.contractTypeName != ''">
            <i class="bi bi-clock-fill"></i>
            <span>{{ job.contractTypeName }}</span>
          </li>
          <li>
            <i class="bi bi-calendar"></i>
            <span>Posted {{ getRelativeTime(job.datePosted) }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="job-categories">
      <span class="badge bg-info" *ngFor="let category of job.categories">
        {{ category }}
      </span>
    </div>
    <div class="job-tags">
      <span class="badge bg-secondary" *ngFor="let tag of job.tags">
        {{ tag }}
      </span>
    </div>
  </div>
</div>
