.card {
    width: 100%;
}

.job-post-company {
    float: left;
    margin-right: 1.25rem;
}

.job-post-company img {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}

.job-post-info {
    overflow: hidden;
}

.job-title {
    cursor: pointer;
    margin-bottom: 0.625rem;
}

.job-post-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.job-post-info ul li {
    display: inline-block;
    margin-right: 0.625rem;
}

.job-post-info ul li i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.313rem;
}

.job-post-info ul li div,
.job-post-info ul li span {
    display: inline-block;
    vertical-align: middle;
}
.job-categories,
.job-tags {
    margin-top: 1.25rem;
}

.badge {
    margin-right: 0.625rem; 
    margin-bottom: 0.625rem; 
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    background-color: #007bff;
    color: #fff;
    font-size: 0.875rem;
    display: inline-block;
}

.job-location {
    margin-right: 0.313rem;
}

.seperator {
    margin-right:0.313rem;
}