.initial-container {
  display: flex;
  flex-direction: column;
  height: 91.5%;
  overflow-y: scroll;
  margin-top: 3.8%;
  padding-bottom: 2%;

  .container {
    border: 0.01rem solid #ccc;
    width: 60%;
    padding: 1.5rem;
    margin-top: 3%;
    border-radius: 1%;

    .filters-container {
      .rating-range-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;

        .slider {
          width: 40%;
          margin-top: 1.5rem;
        }

        .label {
          font-size: 1.5rem;
          font-weight: 400;
        }
      }

      .row-container {
        display: flex;

        .form-field {
          width: 100%;
          margin-right: 1rem;
        }
      }
    }

    .feedbacks-container {
      display: flex;
      margin-top: 2rem;
      flex-direction: column;
      align-items: center;

      .feedbacks-title {
        font-size: 1.5rem;
        font-weight: 500;
      }

      .feedbacks {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 0.01rem solid #ccc;
        height: 50vh;
        overflow-y: auto;

        .feedback {
          display: flex;
          flex-direction: row;
          padding: 1rem;
          border-bottom: 0.01rem solid #ccc;
        
          .feedback-header {
            display: flex;
            flex-direction: column; 
            align-items: center;
            justify-content: center;
            margin-right: 2rem; 
            width: 25%;
            border-right: 0.01rem solid #ccc;

            .company {
              display: flex;
              flex-direction: column;
              align-items: center;
              overflow-wrap: break-word;
              margin: 1%;

              .company-logo {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                margin-bottom: 1rem;
              }
          
              .company-name {
                font-size: 1.5rem;
                font-weight: 500;
                overflow-wrap: break-word;
                word-break: break-word;
              }

              .company-rating {
                font-size: 1.2rem;
                font-weight: 400;
                margin-top: 0.5rem;
              }
            }
          }
        
          .feedback-body {
            display: flex;
            flex-direction: column;
        
            .job-title {
              font-size: 1.5rem;
              font-weight: 500;
            }
        
            .date {
              font-size: 1.2rem;
              font-weight: 400;
              margin-top: 0.5rem;
              opacity: 0.7;
            }
        
            .comment {
              font-size: 1.2rem;
              font-weight: 400;
              margin-top: 2rem;
            }
        
            .rating {
              font-size: 1.2rem;
              font-weight: 400;
              margin-top: 0.5rem;
              opacity: 0.7;
            }
        
            .application-status {
              font-size: 1.2rem;
              font-weight: 400;
              margin-top: 0.5rem;
              opacity: 0.7;
            }

            .contract-type {
              font-size: 1.2rem;
              font-weight: 400;
              margin-top: 0.5rem;
              opacity: 0.7;
            }
          }
        }
      }
    }

    .statistics-container {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      .rating-statistics {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
        width: 100%;

        .rating-title {
          font-size: 1.5rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

      }

      .application-status-statistics {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        .application-status-title {
          font-size: 1.5rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }
      }

    }
  }
}
