<div class="initial-container">
  <div class="container">
    <mat-card class="mat-card">
      <mat-card-header class="card-header">
        <div class="header-title">
          <mat-card-title class="card-title">Edit Profile</mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content class="card-content">
        <form
          [formGroup]="editUserProfileFormGroup"
          (ngSubmit)="onEditProfile(editUserProfileFormGroup.value)"
          class="edit-profile-form"
        >
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" readonly />
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" readonly />
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
            <mat-error *ngIf="firstName.hasError('required')"
              >First Name is required</mat-error
            >
            <mat-error *ngIf="firstName.hasError('required')"
              >First Name is required</mat-error
            >
            <mat-error *ngIf="firstName.hasError('minlength')">
              First Name length must be greater than
              {{firstName.errors?.['minlength']?.['requiredLength']}}
              characters</mat-error
            >
            <mat-error *ngIf="firstName.hasError('maxlength')">
              First Name length must be less than
              {{firstName.errors?.['maxlength']?.['requiredLength']}}
              characters</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
            <mat-error *ngIf="lastName.hasError('required')"
              >Last Name is required</mat-error
            >
            <mat-error *ngIf="lastName.hasError('required')"
              >Last Name is required</mat-error
            >
            <mat-error *ngIf="lastName.hasError('minlength')">
              Last Name length must be greater than
              {{lastName.errors?.['minlength']?.['requiredLength']}}
              characters</mat-error
            >
            <mat-error *ngIf="lastName.hasError('maxlength')">
              Last Name length must be less than
              {{lastName.errors?.['maxlength']?.['requiredLength']}}
              characters</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option *ngIf="country.value != ''" [value]=""
                >Clear Filter</mat-option
              >
              <mat-option
                *ngFor="let country of countryStateCity.country"
                [value]="country.isoCode"
              >
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
              <mat-option
                *ngIf="
                  state.value != '' && state.value != null && state.enabled
                "
                [value]=""
                >Clear Filter</mat-option
              >
              <mat-option
                *ngFor="let state of countryStateCity.state"
                [value]="state.isoCode"
              >
                {{ state.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>City</mat-label>
            <mat-select formControlName="city">
              <mat-option
                *ngIf="city.value != '' && city.value != null && city.enabled"
                [value]=""
                >Clear Filter</mat-option
              >
              <mat-option
                *ngFor="let city of countryStateCity.city"
                [value]="city.name"
              >
                {{ city.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <ng-select
            class="skills-select"
            [items]="allSkills"
            bindLabel="name"
            formControlName="skills"
            [multiple]="true"
            [closeOnSelect]="false"
            [searchable]="true"
            [clearable]="true"
            [addTag]="true"
            [maxSelectedItems]="20"
            placeholder="Skills"
          >
          </ng-select>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Education</mat-label>
            <textarea matInput formControlName="education"  rows="3"></textarea>
            <mat-error *ngIf="education.hasError('minlength')">
              Education length must be greater than
              {{education.errors?.['minlength']?.['requiredLength']}}
              characters</mat-error
            >
            <mat-error *ngIf="education.hasError('maxlength')">
              Education length must be less than
              {{education.errors?.['maxlength']?.['requiredLength']}}
              characters</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Experience</mat-label>
            <textarea matInput formControlName="experience" rows="5"></textarea>
            <mat-error *ngIf="experience.hasError('minlength')">
              Experience length must be greater than
              {{experience.errors?.['minlength']?.['requiredLength']}}
              characters</mat-error
            >
            <mat-error *ngIf="experience.hasError('maxlength')">
              Experience length must be less than
              {{experience.errors?.['maxlength']?.['requiredLength']}}
              characters</mat-error
            >
          </mat-form-field>

          <div class="cv-upload-form">
            <input
              type="file"
              class="file-input"
              (change)="onFileChange($event)"
              #fileUpload
            />

            <div class="file-upload">
              <i class="bi bi-upload" (click)="fileUpload.click()"></i>
              <span
                [ngClass]="{ 'cv-download': fileName }"
                (click)="onDownloadCV()"
                >{{ fileName || "No file selected" }}</span
              >
            </div>
            <div class="file-remove" *ngIf="fileName">
              <i class="bi bi-x" (click)="onFileRemove()"></i>
            </div>
          </div>

          <mat-checkbox
            color="primary"
            class="update-data-from-cv-checkbox"
            formControlName="updateDataFromCV"
            >Update data from CV</mat-checkbox
          >

          <button
            class="btn btn-primary edit-profile-button"
            type="submit"
            [disabled]="!isFormValid()"
          >
            Save Changes
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
