<div class="initial-container">
  <div class="gradient-background"></div>
  <div class="container">
    <mat-card class="mat-card">
      <mat-card-header class="card-header">
        <button type="button" class="btn btn-icon btn-back" (click)="onBack()">
          <i class="bi bi-arrow-left"></i>
        </button>
        <div class="header-title">
          <mat-card-title class="card-title">Login</mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content class="card-content">
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onLogin(loginForm.value)"
          class="login-form"
        >
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Username/Email</mat-label>
            <input matInput formControlName="userCredential" />
            <mat-error *ngIf="userCredential.hasError('required')"
              >Username/Email is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="password.hasError('required')"
              >Password is required</mat-error
            >
          </mat-form-field>

          <button
            class="btn btn-primary login-button"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </form>
        <div class="forgot-password">
          <a routerLink="/send-reset-password-email">Forgot Password?</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
