<div class="container">
  <mat-card class="mat-card">
    <mat-card-header class="card-header">
      <button type="button" class="btn btn-icon btn-back" (click)="onBack()">
        <i class="bi bi-arrow-left"></i>
      </button>
      <div class="header-title">
        <mat-card-title class="card-title">Registration</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content class="card-content">
      <form
        [formGroup]="registrationForm"
        (ngSubmit)="onRegister(registrationForm.value)"
        F
        class="registration-form"
      >
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
          <mat-error *ngIf="firstName.hasError('required')"
            >First Name is required</mat-error
          >
          <mat-error *ngIf="firstName.hasError('minlength')">
            First Name length must be greater than
            {{firstName.errors?.['minlength']?.['requiredLength']}}
            characters</mat-error
          >
          <mat-error *ngIf="firstName.hasError('maxlength')">
            First Name length must be less than
            {{firstName.errors?.['maxlength']?.['requiredLength']}}
            characters</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error *ngIf="lastName.hasError('required')"
            >Last Name is required</mat-error
          >
          <mat-error *ngIf="lastName.hasError('minlength')">
            Last Name length must be greater than
            {{lastName.errors?.['minlength']?.['requiredLength']}}
            characters</mat-error
          >
          <mat-error *ngIf="lastName.hasError('maxlength')">
            Last Name length must be less than
            {{lastName.errors?.['maxlength']?.['requiredLength']}}
            characters</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-error *ngIf="username.hasError('required')"
            >Username is required</mat-error
          >
          <mat-error *ngIf="username.hasError('minlength')">
            Username length must be greater than
            {{username.errors?.['minlength']?.['requiredLength']}}
            characters</mat-error
          >
          <mat-error *ngIf="username.hasError('maxlength')">
            Username length must be less than
            {{username.errors?.['maxlength']?.['requiredLength']}}
            characters</mat-error
          >
          <mat-error *ngIf="username.hasError('pattern')">
            Username can contain only lower, upper cases and numbers
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="email.hasError('required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="email.hasError('email')"
            >Invalid email format</mat-error
          >
          <mat-error *ngIf="email.hasError('maxlength')"
            >Email length must be less than
            {{email.errors?.['maxlength']?.['requiredLength']}}
            characters</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="password.hasError('required')"
            >Password is required</mat-error
          >
          <mat-error *ngIf="password.hasError('minlength')"
            >Password length must be greater than
            {{password.errors?.['minlength']?.['requiredLength']}}
            characters</mat-error
          >
          <mat-error *ngIf="password.hasError('maxlength')"
            >Password length must be less than
            {{password.errors?.['maxlength']?.['requiredLength']}}
            characters</mat-error
          >
          <mat-error *ngIf="password.hasError('pattern')"
            >Password most contain atleast a number, a lower and upper-case
            character and a special character</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Repeat Password</mat-label>
          <input matInput type="password" formControlName="repeatPassword" />
          <mat-error *ngIf="repeatPassword.hasError('required')"
            >Repeat Password is required</mat-error
          >
          <mat-error *ngIf="registrationForm.hasError('passwordMismatch')"
            >Passwords do not match</mat-error
          >
          <mat-error *ngIf="repeatPassword.hasError('minlength')"
            >Repeat password length must be greater than
            {{repeatPassword.errors?.['minlength']?.['requiredLength']}}
            characters</mat-error
          >
          <mat-error *ngIf="repeatPassword.hasError('maxlength')"
            >Password length must be less than
            {{password.errors?.['maxlength']?.['requiredLength']}}
            characters</mat-error
          >
          <mat-error *ngIf="repeatPassword.hasError('pattern')"
            >Password most contain atleast a number, a lower and upper-case
            character and a special character</mat-error
          >
        </mat-form-field>

        <button
          class="btn btn-primary registration-button"
          type="submit"
          [disabled]="registrationForm.invalid"
          (click)="onRegister(registrationForm.value)"
        >
          Register
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
