<div #scrollable class="initial-container">
  <div class="container" *ngIf="!isJobDetailsShowing">
    <div class="row content">
      <div class="col-lg-8">
        <div class="jobs-container" *ngFor="let job of jobs.jobs">
          <app-job-card
            (onJobSelect)="onSelectJob($event)"
            (onSaveJob)="onSave($event)"
            (onDeleteJob)="onDelete($event)"
            class="job-container"
            [job]="job"
          ></app-job-card>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li
              class="page-item"
              [class.disabled]="pageFormControl.value === 0"
            >
              <a
                class="page-link"
                (click)="changePage(pageFormControl.value - 1)"
                >Previous</a
              >
            </li>
            <ng-container *ngFor="let currentPage of visiblePages">
              <li
                class="page-item"
                [class.active]="currentPage === pageFormControl.value"
              >
                <a
                  class="page-link"
                  (click)="changePage(currentPage)"
                  *ngIf="currentPage !== -1"
                  >{{ currentPage + 1 }}</a
                >
                <span class="page-link" *ngIf="currentPage === -1">...</span>
              </li>
            </ng-container>
            <li
              class="page-item"
              [class.disabled]="pageFormControl.value === totalPages - 1"
            >
              <a
                class="page-link"
                (click)="changePage(pageFormControl.value + 1)"
                >Next</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div>
          <form [formGroup]="jobFilter">
            <div class="clearfix">
              <h5 class="widget-title font-weight-700 text-uppercase">
                Keywords
              </h5>
              <div class="">
                <mat-form-field appearance="fill">
                  <mat-label>Search</mat-label>
                  <input
                    matInput
                    type="text"
                    (input)="filterJobs(jobFilter.value)"
                    placeholder="Search"
                    formControlName="title"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="clearfix">
              <h5 class="widget-title font-weight-700 text-uppercase">
                Country
              </h5>
              <div class="d-flex flex-row align-items-center mb-4">
                <mat-form-field appearance="fill">
                  <mat-label>Country</mat-label>
                  <mat-select
                    formControlName="country"
                    (selectionChange)="filterJobs(jobFilter.value)"
                  >
                    <mat-option
                      *ngIf="countryFormControl.value != ''"
                      [value]=""
                      >Clear Filter</mat-option
                    >
                    <mat-option
                      *ngFor="let country of countryStateCity.country"
                      [value]="country.isoCode"
                    >
                      {{ country.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <h5 class="widget-title font-weight-700 text-uppercase">State</h5>
              <div class="d-flex flex-row align-items-center mb-4">
                <mat-form-field appearance="fill">
                  <mat-label>State</mat-label>
                  <mat-select
                    formControlName="state"
                    (selectionChange)="filterJobs(jobFilter.value)"
                  >
                    <mat-option
                      *ngIf="
                        stateFormControl.value != '' &&
                        stateFormControl.value != null &&
                        stateFormControl.enabled
                      "
                      [value]=""
                      >Clear Filter</mat-option
                    >
                    <mat-option
                      *ngFor="let state of countryStateCity.state"
                      [value]="state.isoCode"
                    >
                      {{ state.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <h5 class="widget-title font-weight-700 text-uppercase">City</h5>
              <div class="d-flex flex-row align-items-center mb-4">
                <mat-form-field appearance="fill">
                  <mat-label>City</mat-label>
                  <mat-select
                    formControlName="city"
                    (selectionChange)="filterJobs(jobFilter.value)"
                  >
                    <mat-option
                      *ngIf="
                        cityFormControl.value != '' &&
                        cityFormControl.value != null &&
                        cityFormControl.enabled
                      "
                      [value]=""
                      >Clear Filter</mat-option
                    >
                    <mat-option
                      *ngFor="let city of countryStateCity.city"
                      [value]="city.name"
                    >
                      {{ city.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="clearfix">
              <h5 class="widget-title font-weight-700 text-uppercase">
                Contract type
              </h5>
              <mat-form-field appearance="fill">
                <mat-label>Contract type</mat-label>
                <mat-select
                  formControlName="contractType"
                  (selectionChange)="filterJobs(jobFilter.value)"
                >
                  <mat-option [value]="''">Any Type</mat-option>
                  <mat-option
                    *ngFor="let contractType of jobs.contractTypes"
                    [value]="contractType"
                    >{{ contractType }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="clearfix">
              <h5 class="widget-title font-weight-700 text-uppercase">
                Category
              </h5>
              <mat-form-field appearance="fill">
                <mat-label>Categories</mat-label>
                <mat-select
                  (selectionChange)="filterJobs(jobFilter.value)"
                  placeholder="Select Categories"
                  [formControl]="categoriesFormControl"
                  multiple
                >
                  <mat-option
                    *ngFor="let category of jobs.categories"
                    [value]="category"
                    >{{ category }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="clearfix">
              <h5 class="widget-title font-weight-700 text-uppercase">
                Companies
              </h5>
              <mat-form-field appearance="fill">
                <mat-label>Companies</mat-label>
                <mat-select
                  (selectionChange)="filterJobs(jobFilter.value)"
                  placeholder="Select Companies"
                  [formControl]="companiesFormControl"
                  multiple
                >
                  <mat-option
                    *ngFor="let company of jobs.companies"
                    [value]="company"
                    >{{ company }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="clearfix remote-container">
              <h5
                class="widget-title font-weight-700 text-uppercase remote-text"
              >
                Remote
              </h5>
              <div class="form-check">
                <mat-checkbox
                  color="primary"
                  formControlName="isRemote"
                  (change)="filterJobs(jobFilter.value)"
                ></mat-checkbox>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-job-details
    (onSaveJob)="onSave($event)"
    (onBack)="onBack()"
    (onDeleteJob)="onDelete($event)"
    [job]="this.selectedJob"
    *ngIf="isJobDetailsShowing"
  >
  </app-job-details>
</div>
